.container
  .hero-unit.center
    %h2 Thanks for your participation!
    .span7.align-center{:style => 'float:none;margin-top:20px;'}
      %h3
        You can revisit the link sent to you in the email to see your saved responses. You can review and change your responses as many times as you want before the survey ends#{@participant.experiment.end_at.nil? ? '.' : @participant.experiment.end_at.strftime(" on %d/%m/%Y at %I:%M%p.")}
      %p
        Contact us at #{APP_CONFIG[:contact_email]} for more details about our research on automated summarization of bug reports.
      %p
        Thanks, GSD Lab