%fieldset
  %legend Contact For Results
  %p Please let us know if you'd like to receive the result of this evaluation.
  %table{:style => 'width:500px;margin-left:30px;'}
    %tr
      %th Yes
      %th No
      %th None
    %tr
      %td= result[:yes]
      %td= result[:no]
      %td= result[:none]

  %h4 Total Responses: #{result[:yes] + result[:no]}
