%fieldset
  %legend Q5
  %p Please select the view (condensed or interlaced) you find most appropriate for reading bug report summaries.
  %table{:style => 'width:500px;margin-left:30px;'}
    %tr
      %th Condensed
      %th Interlaced
      %th None
    %tr
      %td= result[:condensed]
      %td= result[:interlaced]
      %td= result[:none]

  %h4 Total Responses: #{result[:condensed] + result[:interlaced]}
