.container
  .hero-unit.center
    %h1 Error 500
    %div
      %h2 We're sorry
      %p
        Something went wrong. We have been notified of the issue. We will take a look at it shortly.
      %p
        Please contact us at zmalik [at] gsd.uwaterloo.ca to tell us about this issue. We will fix it and get back to you asap!
      %p
        Want to
        %a{href: root_path} go back to our home page
        and try again?

