.container
  .hero-unit.center
    %h1 404
    .span7.align-center{:style => 'float:none;margin-top:20px;ap'}
      %h2 We're sorry
      %p
        The content that you requested could not be found.
      %p
        You tried to access '#{@not_found_path}', which is not a valid page.
      %p
        Please contact us at #{APP_CONFIG[:contact_email]} in case you are looking for something that should have been here.