.container
  .hero-unit.center
    %h2 Authentication Failed!
    .span7.align-center{:style => 'float:none;margin-top:20px;ap'}
      %h3 We're sorry.
      %p
        This link could not be authenticated. Please confirm that the URI of this page is same as we sent you in the email. If this is the case then we are in huge trouble.
      %p
        Please contact us at #{APP_CONFIG[:contact_email]} to inform us about this issue. We will fix it and get back to you asap!


