.container
  .hero-unit.center
    %h2 Survey Not Started
    %div
      %h3 Thank you for your interest in this survey!
      %p
        The Bug Report Summary Evaluation survey has not started yet. The survey will start #{@experiment.start_at.strftime("on %d/%m/%Y at %I:%M%p")}. Please visit this link again after survey start time to evaluate the bug report summary and submit your response.
      %p
        Please contact us at #{APP_CONFIG[:contact_email]} for more details.
      %p
        Thanks, GSD Lab

