.container
  .hero-unit.center
    %h2 Survey Ended
    %div
      %h3 Thank you for your interest in this survey!
      %p
        Bug Report Summary Evaluation survey has ended. Deadline to submit responses was #{@experiment.end_at.strftime("on %d/%m/%Y at %I:%M%p")}. 
      %p
        Please contact us at #{APP_CONFIG[:contact_email]} for more details and results of the survey.
      %p
        Thanks, GSD Lab

