// Place all the styles related to the BugReports controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

fieldset {
	display: block;
	-webkit-margin-start: 2px;
	-webkit-margin-end: 2px;
	-webkit-padding-before: 0.35em;
	-webkit-padding-start: 0.75em;
	-webkit-padding-end: 0.75em;
	-webkit-padding-after: 0.625em;
	border: 2px groove threedface;
}

fieldset.bugreport {
	width: 866px;
}
.comment-header {
	background-color: #e0e0e0;
	color: black;
	margin: 20px 0 10px;
	padding: 3px 10px;
}

fieldset.summary {
	display:inline;
	width: 520px;
	margin-right: 2em;
	float: left;
}

.highlight {
	background-color: #ddddff;
}

table {
	width: 100%;
	text-align: left;
}

table a {
	text-decoration: none;
}

table th {
	background: #242527;
	color: #FFF;
	padding: 6px;
}

table th a {
	color: #FFF!important;
	text-decoration: none;
}

table th a:hover {
	text-decoration: underline;
}

table td.right {
	text-align: right;
}

table tr.even {
	background: #FFF!important;
}

table tr.even:hover,
table tr.odd:hover {
	background: #E4E4E4!important;
}

table tr.odd {
	background: #F3F3F3;
}

table td {
	border: none;
	padding: 5px;
	vertical-align: top;
}

.survey-form {
	margin-top: 2em;
}

.question-container {
	
}

.question {
}

.answer {
	padding: 1em 1em 2em;
}

.choices {
	display: inline;
	padding-right: 2em;
}

.choices ul {
	list-style: none;
	display: inline;
	padding-left: 1em;
	margin-left: 0;
}

.choices ul li {
	display: inline;
	padding-right: 1em;
}
