// Place all the styles related to the BugReports controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "bootstrap";

body {
    background-image: -webkit-linear-gradient(top, #EEEEEE, #FFFFFF);
    background-color: #FAFAFA;
    background-repeat: repeat-x;
    background-image: -khtml-gradient(linear, left top, left bottom, from(#EEEEEE), to(#FFFFFF));
    background-image: -moz-linear-gradient(top, #EEEEEE, #FFFFFF);
    background-image: -ms-linear-gradient(top, #EEEEEE, #FFFFFF);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #EEEEEE), color-stop(100%, #FFFFFF));
    background-image: -webkit-linear-gradient(top, #EEEEEE, #FFFFFF);
    background-image: -o-linear-gradient(top, #EEEEEE, #FFFFFF);
    background-image: linear-gradient(top, #EEEEEE, #FFFFFF);
}

.hero-unit{
	border-bottom: 1px solid white;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
	margin: 0;
	padding: 30px 0 50px;
}

.hero-unit h3{
	font-size: 16px;
}

.navbar {
	margin-bottom: 0;
}

.navbar .brand {
	padding:12px 20px 12px;
}

.navbar div>ul.secondary-nav,.nav.secondary-nav{float:right;margin-left:10px;margin-right:0;}

.bg-dark{
	background-color:#e0e0e0;
}

h4.white,h3.white{
	color:#fcfcfc;
}

.container-box{
	max-width: 1120px;
	background: white;
	padding: 15px 15px 30px 15px;
	box-shadow: 0 5px 10px rgba(0,0,0,0.1);
	-webkit-box-shadow: 0 5px 10px rgba(0,0,0,0.1);
	-moz-box-shadow:0 5px 10px rgba(0,0,0,0.1);
	margin: -30px auto 0;
}

fieldset {
	display: block;
	-webkit-margin-start: 2px;
	-webkit-margin-end: 2px;
	-webkit-padding-before: 0.35em;
	-webkit-padding-start: 0.75em;
	-webkit-padding-end: 0.75em;
	-webkit-padding-after: 0.625em;
	border: 2px groove threedface;
}

fieldset.bugreport {
	width: 866px;
}
.comment-header {
	background-color: #e0e0e0;
	color: black;
	margin: 20px 0 10px;
	padding: 3px 10px;
}

fieldset.summary {
	display:inline;
	width: 520px;
	margin-right: 2em;
	float: left;
}

.highlight {
	background-color: #ddddff;
}

table {
	width: 100%;
	text-align: left;
}

table a {
	text-decoration: none;
}

table th {
	background: #242527;
	color: #FFF;
	padding: 6px;
}

table th a {
	color: #FFF!important;
	text-decoration: none;
}

table th a:hover {
	text-decoration: underline;
}

table td.right {
	text-align: right;
}

table tr.even {
	background: #FFF!important;
}

table tr.even:hover,
table tr.odd:hover {
	background: #E4E4E4!important;
}

table tr.odd {
	background: #F3F3F3;
}

table td {
	border: none;
	padding: 5px;
	vertical-align: top;
}

.survey-form {
	margin-top: 2em;
}

.question-container {
	
}

.question {
	font-size: 16px;
}

.answer {
	padding: 1em 1em 2em;
}

.choices {
	display: inline;
	padding-right: 2em;
}

.choices ul {
	list-style: none;
	display: inline;
	padding-left: 1em;
	margin-left: 0;
}

.choices ul li {
	display: inline;
	padding-right: 1em;
}

.choices ul li label {
	display: inline;
}

.eval-sen {
}

.click-highlight {
	text-decoration: italic;
}

.hover-highlight {
	background-color: #6FC36F;
}

.wrong-highlight {
	background-color: #C74E48;
}


