// Place all the styles related to the BugReports controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "bootstrap";

body {
    background-image: -webkit-linear-gradient(top, #EEEEEE, #FFFFFF);
    background-color: #FAFAFA;
    background-repeat: repeat-x;
    background-image: -khtml-gradient(linear, left top, left bottom, from(#EEEEEE), to(#FFFFFF));
    background-image: -moz-linear-gradient(top, #EEEEEE, #FFFFFF);
    background-image: -ms-linear-gradient(top, #EEEEEE, #FFFFFF);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #EEEEEE), color-stop(100%, #FFFFFF));
    background-image: -webkit-linear-gradient(top, #EEEEEE, #FFFFFF);
    background-image: -o-linear-gradient(top, #EEEEEE, #FFFFFF);
    background-image: linear-gradient(top, #EEEEEE, #FFFFFF);
}

p {
    margin-bottom: 7px;
}

.hero-unit{
	border-bottom: 1px solid white;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
	margin: 0;
	padding: 30px 0 50px;
}

.hero-unit h3{
	font-size: 16px;
}

.navbar {
	margin-bottom: 0;
}

.navbar .brand {
	padding:12px 20px 12px;
}

.navbar div>ul.secondary-nav,.nav.secondary-nav{float:right;margin-left:10px;margin-right:0;}

.bg-dark{
	background-color:#e0e0e0;
}

h4.white,h3.white{
	color:#fcfcfc;
}

.container-box{
	max-width: 1040px;
	background: white;
	padding: 15px 15px 30px 15px;
	box-shadow: 0 5px 10px rgba(0,0,0,0.1);
	-webkit-box-shadow: 0 5px 10px rgba(0,0,0,0.1);
	-moz-box-shadow:0 5px 10px rgba(0,0,0,0.1);
	margin: -30px auto 0;
}

fieldset {
	display: block;
	-webkit-margin-start: 2px;
	-webkit-margin-end: 2px;
	-webkit-padding-before: 0.35em;
	-webkit-padding-start: 0.75em;
	-webkit-padding-end: 0.75em;
	-webkit-padding-after: 0.625em;
/*	border: 2px solid #E0E0E0;*/
}

fieldset.bugreport {
	width: 866px;
}
.comment-header.ui-state-default {
	margin: 20px 0 10px;
	padding: 3px 10px;
        font-weight: normal;
/*	background-color: #ccc;
	color: black;
        border: 1px solid;
        border-bottom-color: black;
        border-right-color: black;
        border-top-color: #999;
        border-left-color: #999;*/
}

fieldset.summary {
/*	width: 900px;
	margin: 10px auto;*/
	/*display:inline;
	width: 520px;
	margin-right: 2em;
	float: left;*/
}

.eval-sen.sentence {
        color: #aaa;
}

.eval-sen.sentence.highlight {
        color: black;
}

.highlight {
	/*background-color: #ddddff;*/
}

table {
	width: 100%;
	text-align: left;
}

table a {
	text-decoration: none;
}

table th {
	background: #242527;
	color: #FFF;
	padding: 6px;
}

table th a {
	color: #FFF!important;
	text-decoration: none;
}

table th a:hover {
	text-decoration: underline;
}

table td.right {
	text-align: right;
}

table tr.even {
	background: #FFF!important;
}

table tr.even:hover,
table tr.odd:hover {
	background: #E4E4E4!important;
}

table tr.odd {
	background: #F3F3F3;
}

table td {
	border: none;
	padding: 5px;
	vertical-align: top;
}

.survey-form {
	margin-top: 2em;
}

.question-container {
	margin: 30px;
}

.question {
	font-size: 16px;
}

.subquestion {
	padding: 1em 0 0 3em;
	font-size: 14px;
}

.answer {
	padding: 1em 0 0 2.5em;
	font-size: 12px;
}

.subanswer {
	margin-left: 35px;
}

.answer .summary-one{
	float: left;
	padding-left: 4em;
}

.answer .summary-two {
	float: right;
}

.choices {
	display: inline;
	padding-right: 2em;
}

.choices ul {
	list-style: none;
	display: inline;
	padding-left: 1em;
	margin-left: 0;
}

.choices ul li {
	display: inline;
	padding-right: 1em;
}

.choices ul li label {
	display: inline;
}

.eval-sen.sentence.click-highlight {
        color: grey;
        background-color: #FCE9E9;
}

.eval-sen.sentence.wrong-highlight {
        color: black;
	background-color: #FCE9E9;
}

.hover-selected-highlight {
	background-color: yellow;/*#91C143;*/
	/*font-weight: bold;*/
	cursor: pointer;
}

.hover-unselected-highlight {
	background-color: yellow;/*#91C143;*/
/*	background-color: #FF9A03;*/
	cursor: pointer;
}

.hover-highlight-unselected {
	background-color: yellow;
	font-weight: bold;
}

.container-fluid .summaries .summary-one{
  float:left;
  margin-left:0px;
}


.container-fluid .summaries .summary-two{
  float:right;
  margin-left: 2.128%
}


.container-fluid .summaries .fix-height {
  max-height: 565px;
  overflow-y: auto;
  overflow-x: hidden;
/*  border-bottom: 2px solid #E0E0E0;*/
}

.summaries ::-webkit-scrollbar {
    width: 12px;
}

.summaries ::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
}

.summaries ::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}

textarea {
 width: 620px;
 height: 80px;
}

.cluetip a:hover {
	text-decoration: none;
	color: #005580;
	background-color: transparent;
}

.cluetip .cluetip-close {
	display: none;
/*	text-align: center;
	font-weight: bold;
	display: inline;
	margin-left: 1em;
	border: 1px ridge green;
	border-radius: 10px;
	padding: 1px 4px;
	cursor: default;*/
}

.cluetip .cluetip-close a, .cluetip .cluetip-close a:visited, .cluetip .cluetip-close a:hover {
	color: red;
	cursor: default;
}

.imp-sen {
	font-weight: bold;
	font-style: italic;
}

.non-imp-sen {
	text-decoration: line-through;
}

.btn-submit-form {
	margin-left: 200px;
	font-weight: bold;
}

.eval-begin {
	background-color: #91C143;
	cursor: help;
}